#CardBackground {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: var(--darker);
  opacity: 0.5;
  display: block;
  z-index: 2;
}

#CartWrapper {
  position: fixed;
  height: 60%;
  width: 90%;
  background-color: white;
  display: block;
  z-index: 2;
}
