#loginWrapper {
  z-index: 4;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 1em;
  background-color: white;
  height: calc(230px + 30vh);
  width: calc(150px + 20vw);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

  grid-template-columns: 1fr;
  grid-template-rows: .5fr 9.5fr;

}
#exitLogin {
  color: lightgrey;
  font-size: calc(20px + .4vw);
  justify-self: right;
  padding: 1em;
}
#tbLoginContainer {
  display: grid;
  grid-template-columns: .5fr 2fr .5fr;
  grid-template-rows: 1fr 1fr .5fr 1fr .5fr 1fr .5fr .5fr .5fr .5fr 2fr;
}
/* .loginTB {} */
.loginTB:focus {
  outline: var(--dark-color-000) .1em solid;
}
#gmailLoginTB {
  grid-column: 2;
  grid-row: 2;
}
#passwordLoginTB {
  grid-column: 2;
  grid-row: 4;
}

#LoginAccountButton {
  grid-column: 2;
  grid-row: 6;
  height: 100%;
  width: 100%;
  justify-self: center;
}
#LoginAccountButton:hover {
  background-color: var(--dark-color-002);
}
#forgotAccountButton {
  width: max-content;
  height: max-content;
  grid-column: 2;
  grid-row: 8;
  justify-self: right;
  margin: 0;
  font-size: calc(8px + .4vw);

}
#remeberAccountButton {
  width: max-content;
  height: max-content;
  grid-column: 2;
  grid-row: 8;
  margin: 0;
  font-size: calc(8px + .4vw);
}

#SignInButton {
  grid-column: 2;
  grid-row: 10;
}
#SignInButton:hover {
  transform: scale(1.05);
}