#ViewProduct__wrapper {
  height: 90vh;
  width: 90vw;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  background-color: var(--darker);
  display: block;
  opacity: .9;
  z-index: 2;
  border-radius: .6em;
}

#exitViewProductIcon {
  color: white;
  font-size: calc(40px + .4vw);
}