html {
  --primary-color-000:  #DCD6F7;
  --secondary-color-001: #A6B1E1;
  --light-color-002:  #F4EEFF;
  --dark-color-000: #424874;
  --dark-color-001: #4e5486;
  --dark-color-002: #565b8d;

  --darker: #393646;
  box-sizing:border-box;
}
body {
  margin: 0
}
h1, h2, h3, h4, h5, h6, p {
  color: var(--dark-color-000);
}
#bodyWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-color-002);
}
#plaidBackground {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 1440px;
}
#headerWrapper {
  width: 100%;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  justify-content: center;
  background-color: var(--light-color-002);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#footerWrapper {
  height: max-content;
  /* max-width: 1440px; */
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--darker);

}
#mainWrapper {
  max-width: 1440px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}


main {
  max-width: 1440px;
  height: 90svh;
  max-height: max-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#welcomeContainer {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows:5fr 1fr 1fr 1fr 1fr 5fr;
}
#welcomeContainer h1{
  margin: 0em;
  grid-column: 2 ;
  grid-row: 2;
  font-size: calc(12px + 2.8vw);
}
#welcomeContainer p {
  margin: 0em;
  grid-column: 2;
  grid-row: 3;
  font-size: calc(11px + .4vw);
}


#loginButton {
  grid-column: 2;
  grid-row: 5;
  width: max-content;
  height: max-content;
  justify-self: right;
}

#gallaryContainer {
  display:flex;
  align-items: center;
  width: 50%;

}

#productWrapper {
  max-width: 1440px;
  width: 100%;
  background-color: var(--secondary-color-001);
  height: max-content;
}
#productWrapper__wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:.5fr 9.5fr;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  gap: 1.5em;
  padding: 1em;
}
#filterWrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: .5em;
}
#filterButton {
  padding: .3em 0em;
  background-color: transparent;
  border: transparent;
  color: var(--dark-color-000);
  font-weight: 700;
}


#productContainer {
  grid-row: 2;
  display: flex;
  flex-direction:row ;
  flex-wrap: wrap;
  gap: 1.5em;
  padding: 1em 1em 10em 1em;
}


@media screen and (max-width:540px) {
  main {
    flex-direction: column-reverse;
    height: max-content;

  }
  #welcomeContainer {
    width: 100%;
    /* height: 50%; */
    justify-self: baseline;
    height: max-content;
    grid-template-rows:.5fr .1fr .1fr .1fr .1fr .1fr;

  }
  #gallaryContainer {
    width: 100%;
    /* height: 50%; */
    height: max-content;

  }
}