html {
  --primary-color-000: #dcd6f7;
  --secondary-color-001: #a6b1e1;
  --light-color-002: #f4eeff;
  --dark-color-000: #424874;
  --dark-color-001: #4e5486;
  --dark-color-002: #565b8d;

  --darker: #393646;
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--dark-color-000);
}
#bodyWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-color-002);
}
#plaidBackground {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 1440px;
}
/* #headerWrapper {
  width: 100%;
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  justify-content: center;
  background-color: var(--light-color-002);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  z-index: 1;
} */
#footerWrapper {
  height: max-content;
  /* max-width: 1440px; */
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--darker);
}
#mainWrapper {
  max-width: 1440px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 1440px;
  height: 90svh;
  max-height: max-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 1em; */
}
#welcomeContainer {
  width: 50%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
#welcomeContainer h1 {
  justify-self: center;
  align-self: center;
  font-family: "Lobster";
  margin: 0em;
  grid-column: 1;
  grid-row: 2;
  font-size: calc(20px + 2.8vw);
}
#welcomeContainer p {
  text-align: justify;
  justify-self: center;
  align-self: center;
  font-family: "Raleway";
  font-size: calc(11px + 0.4vw);
  max-width: 35rem;
}

#loginButton {
  width: max-content;
  height: max-content;
  align-self: center;
}
#loginButton:hover {
  transform: scale(1.03);
}

#gallaryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#productWrapper {
  /* max-width: 1440px; */
  width: 100%;
  background-color: var(--secondary-color-001);
  height: max-content;
  display: flex;
  justify-content: center;
}
#productWrapper__wrapper {
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 9.5fr;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  gap: 1.5em;
  padding: 1rem 2rem;
}
#filterWrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.5em;
}
#filterButton {
  padding: 0.3em 0em;
  background-color: transparent;
  border: transparent;
  color: var(--dark-color-000);
  font-weight: 700;
}
/* #productContainerWrapper {
  padding: 1em 2em;
} */

#productContainer {
  /* background-color: pink; */
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5em;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column-reverse;
    height: max-content;
  }
  #welcomeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0rem;
    gap: 1em;
    /* justify-self: baseline; */
    /* height: max-content; */
    /* grid-template-rows:.5fr .1fr 1fr .1fr .1fr .1fr; */
  }
  #welcomeContainer p {
    padding: 0em 2rem;
  }
  #gallaryContainer {
    width: 100%;
    /* height: 50%; */
    height: max-content;
  }
}

@font-face {
  font-family: "Advent";
  src: url(./assets/fonts/Advent_Pro/AdventPro-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: "Lobster";
  src: url(./assets/fonts/Lobster_Two/LobsterTwo-Regular.ttf);
}
@font-face {
  font-family: "Raleway";
  src: url(./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Redhat";
  src: url(./assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
}
