footer {
  height: max-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1440px;
  width: 100%;

}

footer h1 {
  color: goldenrod;

}
footer h3 {
  color: white;
}


.AboutAndCeoWrapper {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 5rem;
}
#aboutWrapper {
  width: 100%;
}
.content {
  text-align: justify;
  font-size: calc(12px + .4vw);
  color: white;
  height: auto;
  overflow-wrap:normal;
  text-wrap: wrap;
  margin: 0;
  /* border: 2px solid #2b2a35; */
  /* background-color: #2b2a35; */
  /* padding: .6em 1em; */
}
.contentButton {
  font-size: calc(20px + .4vw);
  font-weight: 800;
  color: goldenrod;
  background-color: transparent;
  font-family: 'Raleway';
  border: 2px solid #2b2a35;
  border-bottom: none;
  padding: .3em .8em;
  margin-right: .1em;
}
#aboutButton {
  background-color: #2b2a35;

}
.contentImg {
  height: 300px;
  width: 300px;
  background-color: white;
  align-self: center;
}

.customersServiceWrapper {
  display: flex;
  flex-direction: row;
  gap: calc(5rem + .4vw);
  margin-top: 1rem;

}
#logoutButtonWrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: right;
}


#author {
  color: #2b2a35;
  font-size: calc(20px + .4vw);
}
#faqsWrapper {
  /* display: grid; */
  grid-template-columns: .3fr 1fr
}
#faqsTitle {
  grid-column: 1 / 3;
}
.customerServiceLinks {
  grid-column: 2;
  font-size: calc(14px + .4vw);
  color: white;
  text-decoration: none;
  display: block;
  margin: 1em 0em;
}
.customerServiceLinks:hover {
  text-decoration: underline;
}
.linkIcon {
  margin-right: 1em;
}

@media screen and (max-width:540px) {
  .customersServiceWrapper {
    display: block;
  }
  /* .contentImg {
    display: none;
  } */
}