

#loginSigninWrapper {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  height: max-content;
  padding: 1em 1em;
  background-color: white;
}

#loginSigninWrapper__div {
  display: flex;
  height: max-content;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 5em 1em;

}
#loginSigninWrapper__div > input {
  width: 20rem;
  height: 3rem;
}
#loginSigninWrapper__div > input:focus {
  outline: var(--dark-color-000) .1em solid;
} 